version: '3.8'
services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  
  postgres:
    image: postgres:alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: clustertalk
    ports:
      - "5432:5432"

  nats:
    image: nats:latest
    ports:
      - "4222:4222"
